/* couleur du background */
body{
    background-color: #C4C7C5;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
/* forme du tableau*/
table {
border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;
margin:auto;
}
th {
font-family: monospace;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
background-color: #D0E3FA;
background-image: url(sky.jpg);
}
td {
font-family: sans-serif;
border: thin solid #6495ed;
width: 50%;
padding: 5px;
text-align: center;
background-color: #ffffff;
}
caption {
font-family: sans-serif;
}

